version: 2.1
jobs:
  build:
    docker:
      - image: amazoncorretto:17.0.3
      - image: cimg/mysql:8.0.27
      - image: cimg/redis:6.2.6
      - image: localstack/localstack:latest
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            yum update -y
            yum localinstall -y --nogpgcheck https://dev.mysql.com/get/mysql80-community-release-el7-3.noarch.rpm
            yum install -y --nogpgcheck mysql-community-client tar unzip git
            mysql --version
